<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libertinus+Math&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/katex.min.css" integrity="sha384-hW6ZmmePRD2f/9cuxGE6C9faGprtIBOme5OLUiEjtRKMTN67tY23ur9eAi21H8De" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/katex.min.js" integrity="sha384-FVvsvR4UzyIP8Y5hVvHjOfjVh+LWV78ll63SYx1t+nuuMPGMAihB8dJ2YsYyg1Wb" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <title>{{ .Title }}</title>
</head>
<body>
    {{ partial "navbar.html" . }}

    <div class="d-flex">
        <div class="col-md-3 d-none d-md-flex flex-column border-end sticky-top align-self-start barlow-regular"
            style="top: 2rem;">
            <nav class="nav flex-column text-center">
                <h2>Gökhan Kof</h2>
                <a class="nav-link" href="#">
                    <div class="text-center">
                        <img class="rounded-circle" src="assets/me.jpg" class="img-fluid rounded">
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                </a>
                <span>
                    <a href="mailto:kofgokhan@gmail.com"><img src="assets/envelope-at.svg" alt=""></a>
                    <a href="https://github.com/kofgokhan"><img src="assets/github.svg" alt=""></a>
                </span>
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Research</a>
                <a class="nav-link" href="#">Publications</a>
                <a class="nav-link" href="#">GSoC '26</a>
                <a class="nav-link" href="#">Misc</a>
            </nav>
        </div>

        <main class="col-md-6 flex-grow-1 p-4 libertinus-math-regular">
            <div id="content" style="text-align: justify;">
                {{ block "main" . }}{{ end }}
            </div>
        </main>

        <aside id="right-nav" class="col-md-3 bg-white border-start p-4 d-none d-xl-block sticky-top align-self-start"
            style="top: 2rem;">

            <h6 class="text-uppercase fw-bold small text-muted mb-3">Contents</h6>

            <nav class="nav flex-column">
                <a class="nav-link small text-secondary px-0" href="#bilevel-optimization">Bilevel Optimization</a>
                <a class="nav-link small text-secondary px-0" href="#solution-methods">Solution Methods</a>
                <a class="nav-link small text-secondary px-0" href="#branch-and-bound-algorithm">
                    Branch and Bound Algorithm
                </a>
            </nav>
        </aside>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>