<div
    class="col-md-3 d-none d-md-flex flex-column border-end sticky-top vh-100 align-items-center justify-content-center barlow-regular">
    <nav class="nav flex-column text-center w-100">
        <h2 class="mb-3">Gökhan Kof</h2>

        <a class="nav-link p-0 mb-3" href="{{ relURL " /" }}">
            <div class="text-center">
                <!-- Added fixed width/height and object-fit to ensure the circle is perfect -->
                <img class="rounded-circle border" src="/assets/me.jpg"
                    style="width: 150px; height: 150px; object-fit: cover;" alt="Gökhan Kof">
            </div>
        </a>

        <span class="mb-3">
            <a href="mailto:kofgokhan@gmail.com"><span class="material-symbols-outlined align-middle">mail</span></a>
            <a href="https://github.com/kofgokhan"><img src="/assets/GitHub_Invertocat_Black.svg" width="24"
                    alt="GitHub" class="github-logo"></a>
        </span>

        <!-- Navigation Links -->
        <div class="d-grid gap-2 px-4">
            <a class="nav-link" href="{{ relURL " /" }}">Home</a>
            <!--
            <a class="nav-link" href="{{ relURL "/research" }}">Research</a>
            <a class="nav-link" href="{{ relURL "/publications" }}">Publications</a>
            -->
            <a class="nav-link" href="{{ relURL " /gsoc26/gsoc" }}">GSoC '26</a>
            <a class="nav-link" href="{{ relURL " /misc" }}">Misc</a>
            <button class="btn btn-link nav-link p-2" aria-label="Toggle theme"
                onclick="let h=document.documentElement,t=h.getAttribute('data-bs-theme')==='dark'?'light':'dark';h.setAttribute('data-bs-theme',t);localStorage.setItem('theme',t)">
                <span class="material-symbols-outlined">invert_colors</span>
            </button>
        </div>
    </nav>

    {{ partial "footer.html" . }}
</div>